---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import ReviewComponent from "@components/ui/blocks/ReviewComponent.astro";
import logoDark from "@images/ya/logoDark.png";
import heroImage from "@images/ya/hero.jpg";

// Props de Astro
const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  withReview,
  avatars,
  starCount,
  rating,
  reviews,
  alt,
} = Astro.props;

// Definición de tipos para las props
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
  withReview?: boolean;
  avatars?: string[];
  starCount?: number;
  rating?: string;
  reviews?: string;
  src?: ImageMetadata; 
  alt?: string;
}

---

<!-- Componente reutilizable para el encabezado -->
<section class="mx-auto grid lg:grid-cols-2 gap-6 px-6 py-14 sm:px-6 md:items-center lg:px-8 2xl:max-w-full">
  <div>
    <div class="flex items-center gap-4">
      <h1 class="text-4xl text-balance lg:text-5xl font-extrabold leading-tight text-neutral-800 dark:text-neutral-200 md:text-5xl">
        <Fragment set:html={title} />
      </h1>
      <Image
        src={logoDark}
        alt="Logo oscuro"
        class="h-auto w-36 object-contain"
      />
    </div>

    {subTitle && (
      <p class="mt-4 text-pretty text-lg leading-relaxed text-neutral-700 dark:text-neutral-400 lg:w-4/5">
        {subTitle}
      </p>
    )}

    <!-- Botones de acción -->
    <div class="mt-7 flex gap-3">
      {primaryBtn && <PrimaryCTA title={primaryBtn} url={primaryBtnURL} />}
      {secondaryBtn && <SecondaryCTA title={secondaryBtn} url={secondaryBtnURL} />}
    </div>

    <!-- Sección de reseñas -->
    {withReview && (
      <ReviewComponent
        avatars={avatars}
        starCount={starCount}
        rating={rating}
        reviews={reviews}
      />
    )}
  </div>

  <!-- Imagen principal -->
  <div class="">
    <Image
      src={heroImage}
      alt={alt || "Imagen principal"}
      class="h-full w-full rounded-lg scale-110 object-cover object-center"
      draggable={"false"}
      loading={"lazy"}
    />
  </div>
</section>
