---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE, ABOUT_US } from "@data/constants";
const { vision, mission, values, story, team, cta, pageTitle, title, subtitle } = ABOUT_US;
// Import the necessary dependencies.
/* import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro"; */

import TitleSection from "@/components/molecules/TitleSection.astro";
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";
import SectionLayout from "@/layouts/SectionLayout.astro";
import TwoColumnGrid from "@/layouts/TwoColumnGrid.astro";
import ThreeColumnGrid from "@/layouts/ThreeColumnGrid.astro";
import ParagraphSection from "@/components/molecules/ParagraphSection.astro";

// Define the variables that will be used in this component

/* const subTitle: string = "Conoce más sobre nosotros";
const formTitle: string = "Por favor llena el formulario";
const formSubTitle: string = "Te responderemos en 1-2 días laborables."; */
---
<MainLayout
  title={`${pageTitle} | ${SITE.title}`}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://solucioneselectricasya.com/contact",
    "url": "https://solucioneselectricasya.com/contact",
    "description":
      "¿Tienes preguntas o quieres discutir un proyecto? ¡Lámanos, y let's craft the perfect solution with our tools and services.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://solucioneselectricasya.com",
      "name": "Soluciones Eléctricas YA",
      "description":
        "Soluciones Eléctricas YA ofrece productos de alta calidad y servicios de electricidad y iluminación expertos para atender todas sus necesidades.",
    },
    "inLanguage": "es-ES"
  }}
>



  <!-- About Us Section -->
  <SectionLayout>
    <TitleSection
      title={title}
      subtitle={subtitle}
      class="text-neutral-700 dark:text-neutral-300" />
    <TwoColumnGrid>
      <div slot="col1" class="">
        <!-- Contenido de la Columna 1 -->
        <div class="rounded-lg p-6 transition-all duration-300 shadow-sm text-center ">
          
            <div class="mb-4 flex items-center space-x-4 justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="text-orange-400 dark:text-orange-400" id="Layer_1" height="24" viewBox="0 0 24 24" width="24"  data-name="Layer 1"><path d="m24 9v2h-6l-5-5h8a3 3 0 0 1 3 3zm-24 0v2h6l5-5h-8a3 3 0 0 0 -3 3zm17-6.5-4-2.5h-2v6h2v-1zm.172 10.5h6.828v11h-9v-4a3 3 0 0 0 -6 0v4h-9v-11h6.828l5.172-5zm-11.172 7h-3v2h3zm0-4h-3v2h3zm8-3a2 2 0 1 0 -2 2 2 2 0 0 0 2-2zm4 5h3v-2h-3zm0 4h3v-2h-3zm-6-3a1 1 0 0 0 -1 1v4h2v-4a1 1 0 0 0 -1-1z"/></svg>
              <h2
                class="text-3xl font-extrabold text-neutral-800 dark:text-neutral-200"
              >
                Misión
              </h2>
            </div>
            <p class="text-pretty text-lg leading-relaxed text-neutral-600 dark:text-neutral-400">
              {mission}
            </p>
          
        </div>
      </div>
      <div slot="col2" class="">
        <!-- Contenido de la Columna 2 -->
        <div class="rounded-lg p-6 transition-all duration-600 shadow-sm text-center">
          
            <div class="mb-4 flex items-center space-x-4 justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="text-orange-400 dark:text-orange-400" fill="currentColor" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" width="24" height="24"><path d="M23.8,11.478c-.13-.349-3.3-8.538-11.8-8.538S.326,11.129.2,11.478L0,12l.2.522c.13.349,3.3,8.538,11.8,8.538s11.674-8.189,11.8-8.538L24,12ZM12,18.085c-5.418,0-8.041-4.514-8.79-6.085C3.961,10.425,6.585,5.915,12,5.915S20.038,10.424,20.79,12C20.038,13.576,17.415,18.085,12,18.085Z"/><circle cx="12" cy="12" r="4"/></svg>
              <h2
                class="text-3xl font-extrabold text-neutral-800 dark:text-neutral-200"
              >
                Visión
              </h2>
            </div>
            <p class="text-lg leading-relaxed text-neutral-600 dark:text-neutral-400">
              {vision}
            </p>
          
        </div>
      </div>
    </TwoColumnGrid>
   </SectionLayout>

   <!-- Valores Grid View -->
   <ThreeColumnGrid title="Nuestros Valores" values={values} />

  

  <!-- History -->
    <ParagraphSection
      title={story.title}
      icon="fa-scroll"
      iconClass="text-orange-400"
      tagline={story.content}
      weight="extrabold"
      align="center"
      class="text-neutral-800 dark:text-neutral-200"
    />

   
   
  

  <!-- Team -->
  <SectionLayout>
    <ParagraphSection
      title={team.title}
      icon="fa-people-group"
      iconClass="text-orange-400"
      tagline={team.content}
      weight="extrabold"
      align="center"
      class="text-neutral-800 dark:text-neutral-200"
    />
   </SectionLayout>

  <!-- CTA -->
  <section
    class="container mx-auto my-16 space-y-4 p-6 text-center shadow-sm lg:px-8 rounded-2xl"
  >
    <p class="mt-4 text-center text-lg text-neutral-600 dark:text-neutral-400">
      {cta.content}
    </p>
    <PrimaryCTA url="/contacto" title={cta.btnTitle} />
  </section>

</MainLayout>