---
// Define TypeScript interface for props
interface Props {
  title: string;
  subtitle?: string;
  tagline?: string;
  align?: "left" | "center" | "right"; // Alineación
  weight?:
    | "sans"
    | "serif"
    | "mono"
    | "thin"
    | "extralight"
    | "light"
    | "normal"
    | "medium"
    | "semibold"
    | "bold"
    | "extrabold"
    | "black";
  size?: "lg" | "xl" | "2xl" | "3xl" | "4xl" | "5xl" | "6xl"; // Tamaño opcional
  class?: string; // Clase adicional
}

// Destructure the props passed to the Astro component
const {
  title,
  subtitle,
  tagline,
  align = "center",
  weight = "bold",
  class: myClass,
  size = "4xl",
} = Astro.props;
---

<section class="mx-auto mt-0">
  <h1
    class=`
    text-pretty
    text-${size}
    text-${align}
    font-${weight}
    tracking-tight 
    md:leading-tight
    py-1
    ${myClass}
    `
  >
    {title}
  </h1>
  
  <h3
    class=`
    text-pretty
    text-2xl
    text-${align}
    font-semibold
    tracking-tight 
    md:leading-tight
    py-1
    ${myClass}
    `
  >
    {subtitle}
  </h3>

  <p
    class=`
      text-pretty
      text-lg
      leading-relaxed
      text-${align}
      tracking-tight 
      md:leading-tight
      py-1
      ${myClass}
    `
  >
    {tagline}
  </p>
</section>
