---
// Import the necessary dependencies
import FooterSocialLink from "@components/ui/links/FooterSocialLink.astro";
import EmailFooterInput from "@components/ui/forms/input/EmailFooterInput.astro";
import esStrings from "@/utils/navigation";
import enStrings from "@/utils/en/navigation";
import BrandLogo from "@components/BrandLogo.astro";
import { SITE } from "@data/constants";

// Select the correct translation based on the page's lang prop:
const strings = Astro.currentLocale === "en" ? enStrings : esStrings;

// Definir las variables que se utilizarán en este componente
const sectionThreeTitle: string = Astro.currentLocale === "en" 
  ? "Stay informed" 
  : "Mantente informado";

const sectionThreeContent: string = Astro.currentLocale === "en" 
  ? "Get the latest updates on cutting-edge electrical solutions and exclusive offers." 
  : "Mantente al día con las últimas soluciones eléctricas y ofertas exclusivas.";

const crafted: string = Astro.currentLocale === "en" 
  ? "Crafted by" 
  : "por";

---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-10 sm:px-6 lg:px-16 lg:pt-20 2xl:max-w-screen-2xl"
  >
    <div class="grid grid-cols-2 gap-6 md:grid-cols-4 lg:grid-cols-5">
      <div class="col-span-full lg:col-span-1">
        <!-- Brand Logo -->
        <BrandLogo class="h-auto w-32" />
      </div>
      <!-- An array of links for Product and Company sections -->
      {
        strings.footerLinks.map((section) => (
          <div class="col-span-1">
            <h3 class="font-bold text-neutral-800 dark:text-neutral-200">
              {section.section}
            </h3>
            <ul class="mt-3 grid space-y-3">
              {section.links.map((link, index) => (
                <li>
                  <a
                    href={link.url}
                    class="inline-flex gap-x-2 rounded-lg text-neutral-600 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-500 focus-visible:ring dark:text-neutral-400 dark:ring-zinc-200 dark:hover:text-neutral-300 dark:focus:outline-none"
                  >
                    {link.name}
                  </a>
                  {section.section === "Company" && index === 2 ? (
                    <span class="ms-1 inline rounded-lg bg-orange-500 px-2 py-1 text-xs font-bold text-neutral-50">
                      We're hiring!
                    </span>
                  ) : null}
                </li>
              ))}
            </ul>
          </div>
        ))
      }

      <div class="col-span-2">
        <h3 class="font-bold text-neutral-800 dark:text-neutral-200">
          {sectionThreeTitle}
        </h3>

        <form>
          <EmailFooterInput />
          <p class="mt-3 text-sm text-neutral-600 dark:text-neutral-400">
            {sectionThreeContent}
          </p>
        </form>
      </div>
    </div>

    <div
      class="mt-9 grid gap-y-2 sm:mt-12 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
    >
      <div class="flex items-center justify-between">
        <p class="text-sm text-neutral-600 dark:text-neutral-400">
          © <span id="current-year"></span> {SITE.title}. {crafted}
          <a
            class="rounded-lg font-medium underline underline-offset-2 outline-none ring-zinc-500 transition duration-300 hover:text-neutral-700 hover:decoration-dashed focus:outline-none focus-visible:ring dark:ring-zinc-200 dark:hover:text-neutral-300"
            href="https://www.oceanodigital.vercel.app/"
            target="_blank"
            rel="noopener noreferrer">OceanoDigital</a
          >.
        </p>
      </div>

      <!-- Social Brands -->
      <div>
        <FooterSocialLink url={strings.socialLinks.instagram}>
          <i class="fa-brands fa-instagram h-6 w-6"></i>
        </FooterSocialLink>

        <FooterSocialLink url={strings.socialLinks.twitter}>
          <i class="fa-brands fa-twitter h-6 w-6"></i>
        </FooterSocialLink>

        <FooterSocialLink url={strings.socialLinks.facebook}>
          <i class="fa-brands fa-facebook h-6 w-6"></i>
        </FooterSocialLink>

        <FooterSocialLink url={strings.socialLinks.facebook}>
          <i class="fa-brands fa-youtube h-6 w-6"></i>
        </FooterSocialLink>

        <FooterSocialLink url={strings.socialLinks.linkedin}>
          <i class="fa-brands fa-linkedin h-6 w-6"></i>
        </FooterSocialLink>

      </div>
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById("current-year");
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
